.poster {
  background-color: rgba(0, 0, 0, 0.3);
}

.poster.marked::before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-top: 20px solid #ec9329;
  border-left: 20px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.poster::after {
  display: block;
  content: "";
  width: var(--card-progress, 0);
  height: 3px;
  background-color: var(--card-progress-color, #ff0000);
  position: absolute;
  left: 0;
  bottom: 0;
}
