:root {
  --list-gap: 5px;
  --card-width: 300px;
  --card-height: 200px;
  --card-progress: 0%;
  --card-progress-color: red;

  --poster-width: 230px;
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  /* some CSS here */
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  /* some CSS here */
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px) {
  /* some CSS here */
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  /* some CSS here */
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  /* some CSS here */
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  /* some CSS here */
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* some CSS here */
}

/* #### Desktops #### */
@media screen and (min-width: 1024px) {
  /* some CSS here */
  :root {
    --poster-width: 300px;
    --poster-width: 200px;
  }
}

html, body {
  overscroll-behavior: none;
  scrollbar-gutter: stable both-edges;
}

.App {
  font-family: roboto, sans-serif;
  padding-bottom: 50px;
}

.logo {
  color: black;
  font-size: 40px;
  margin-top: 5px;
  margin-left: 5px;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  grid-template-columns: repeat(auto-fill, minmax(var(--poster-width), 1fr));
  grid-gap: var(--list-gap);
  padding: 5px;

  padding-bottom: var(--list-gap);
}

.horizontal-list {
  padding: 5px;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: var(--list-gap);
  grid-auto-columns: 0fr;
}

.card {
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 210px;
  width: var(--card-width);
  background-size: var(--card-width) var(--card-height);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card.marked::before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-top: 20px solid #ec9329;
  border-left: 20px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.card::after {
  display: block;
  content: "";
  width: var(--card-progress);
  height: 3px;
  background-color: var(--card-progress-color);
  position: absolute;
  left: 0;
  bottom: 0;
}

.contextMenu {
  padding: 5px;
  background-color: #fff;
  min-width: 100px;
  border: 1px solid #eee;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  white-space: nowrap;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.contextMenuItem {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.contextMenuItem:last-child {
  border-bottom: 0 none;
}

.contextMenuItem:hover {
  background-color: #eee;
}

.contextMenuItem[disabled] {
  color: rgba(0, 0, 0, 0.3);
  cursor: default;
}

.contextMenuItem[disabled]:hover {
  background-color: inherit;
}

.me {
  padding: 10px;
  display: grid;
  grid-template: 150px auto / auto;
  grid-template-areas:
    "a b"
    "header header"
    "my-request-list my-request-list"
    "header2 header2"
    "request-list request-list";
  grid-gap: 10px;
}

.me > * {
  background-color: #aaa;
}

.me > .grid-list:empty::after {
  content: "no requests";
  margin: 50px auto;
  padding: 10px;
  display: block;
  grid-area: 2 / 4;
  background-color: rgba(0, 0, 0, 0.3);
}
